{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <form class="form-singin" method="post">
                {% csrf_token %}
                <h3 class="card-title mt-3 text-center">Update {{account_form.initial.username}} information</h3>

                <p class="text-center"><a href="{% url 'admin_management' %}">Manage all users</a> </p>
                <br />
                
                {% include 'partials/_user_form.html' with readonly_username=True show_password_fields=False username_value=account_form.initial.username email_value=account_form.initial.email first_name_value=account_form.initial.first_name last_name_value=account_form.initial.last_name %}

                {% for field in account_form %}
                    <p>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}

                {% if account_form.non_field_errors %}
                    <div style="color: red">
                        <p>{{account_form.non_field_errors}}</p>
                    </div>
                {% endif %}

                <button class="btn btn-primary btn-block" type="submit">Update</button>
            </form>
            <br />

            {% if account_form.initial.is_active%}
            <div class="d-flex flex-column">
                <a class="m-auto" href="{% url 'admin_deactivate_user' account_form.initial.username %}">Deactivate this account</a>
            </div>

            {% else %}
                <div class="d-flex flex-column">
                    <a class="m-auto" href="{% url 'admin_activate_user' account_form.initial.username %}">Activate this account.</a>
                </div>
            {% endif %}

            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" style="color:green; text-align: center;" {% endif %}>{{ message }}</div>
            {% endfor %}
        </article>
    </div>
</div>
{% endblock %}