{% extends 'base.html'%}

{% block title%}Reset password{% endblock%}

{% block content%}

    <div class="container">
        {% if validlink %}
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <form class="form-singin" method="post">
                        {% csrf_token %}
                        <h3 class="card-title mt-3 text-center">Reset your password</h3>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input type="password" name="new_password1" class="form-control" placeholder="New password"
                                id="id_new_password1" required />
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input type="password" name="new_password2" class="form-control"
                                   placeholder="Confirm password" id="id_new_password2" required />
                        </div>

                        {% for field in form %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
                    </form>
                </article>

            </div>
        {% else %}
            <p class="mx-auto p-2">
                The link provided did not work properly and it was identified as invalid.
                It may have already been used. Please request a new password reset.
            </p>
        {% endif %}
    </div>

{% endblock%}